.upper-about {
  background-color: #cde6f8;
  position: absolute;
  left: 2%;
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 0;
}

.lower-about {
  background: rgba(255, 255, 255, 0.5);
  width: 556px;
  height: 90px;
}

.about {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  stroke: Solid rgba(98, 163, 55, 0.4);
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #222222;
}

.bottom-lines-left {
  position: absolute;
  left: -50.22%;
  right: -0.39%;
  top: 9.74%;
}

.bottom-lines-right {
  position: absolute;
  left: 88.79%;

  top: 11.25%;
  bottom: 5.9%;
}
