.course_container {
  /* This is to negate the effect of <Row> */
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  /* height: calc(100vh - 75px); */
}

.navigation-button {
  margin-top: 50px;
  width: 8vw;
  height: 40px;
  background-color: #72ba41;
  border: none;
  font-size: 1.3vw;
  font-weight: bold;
  outline: none;

  box-shadow: -3px 5px 13px -4px #000000;
}

.navigation-button:hover {
  box-shadow: none;
}

.course-objective-container {
  background-color: rgb(201, 201, 201);
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}