@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.card-container {
  position: absolute;
  width: 98%;
  left: 0%;
  top: 30%;
}

.card-component {
  height: 35vh;
  min-height: 150px;
  margin-top: 2%;
}

.card-component:hover {
  cursor: pointer;
}

.card-body {
  background: #43622f;
  border-color: #43622f;
  font-family: Inter;
  color: white;
}

.card-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2vw !important;
}

.card-text {
  font-size: 1.5vw;
}

.no-courses-container {
  text-align: center;
  position: absolute;
  width: 98%;
  left: 0%;
  top: 30%;
}

.no-courses-paragraph {
  font-size: medium;
}

.coursepage-btn,
.coursepage-btn:focus {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #72ba41;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px 5px #fffca8;
  outline: none;
}

.coursepage-btn:hover {
  box-shadow: none;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  left: 60%;
}