@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
  background-color: #eeffee;
}

.general_container {
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  /* overflow-x: hidden; */
}

.exist-title {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1rem;
  color: #000000;
  text-align: center;
}

.user-id {
  position: relative;
  width: max-content;
  margin: auto;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 0px;
  color: #000000;
  right: -25%;
  transform: translateX(-50%);
}

.MuiSvgIcon-root {
  top: 5% !important;
  left: 70% !important;
}

.exist-pattern {
  position: absolute;
  width: 462.74px;
  height: 896.36px;
  left: 235.26px;
  top: 97.3px;
  background: #faf7b7;
  transform: rotate(48.63deg);
  z-index: -100;
}

.blue-box-1 {
  position: absolute;
  width: 98%;
  height: 20%;
  left: 0%;
  top: 5%;
  background: rgba(219, 218, 255, 0.6);
}

.blue-box-2 {
  position: absolute;
  width: 98%;
  height: 20%;
  background: #dbdaff;
}

.exist-course {
  position: absolute;
  width: 1020px;
  height: 574px;
  left: 390px;
  top: 315px;
}

.exist-menu {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: center;
  color: #000000;
}

.sub-menu {
  height: 69px;
  background: #ffe2e2;
}

.content-box-1 {
  position: absolute;
  width: 98%;
  height: 75%;
  left: 0%;
  top: 40%;
  background: rgba(255, 216, 131, 0.4);
}

.content-box-2 {
  position: absolute;
  width: 98%;
  height: 75%;
  top: 35%;
  background: #ffd883;
}

.box-title {
  position: absolute;
  width: 447px;
  height: 74px;
  left: 428px;
  top: 346px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  color: #222222;
}

.box-content {
  position: absolute;
  width: 933px;
  height: 323px;
  left: 428px;
  top: 460px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
  text-align: left;
  color: #222222;
}

.mini-progress-1 {
  width: 170px;
  height: 28px;
  left: 428px;
  top: 554px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  color: #222222;
}

.mini-progress-2 {
  position: absolute;
  width: 170px;
  height: 28px;
  left: 428px;
  top: 745px;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  color: #222222;
}

.shape-tri {
  position: absolute;
  width: 611.99px;
  height: 275.3px;
  left: 1204.19px;
  top: 564.36px;
  background: #c1bfee;
  transform: matrix(0.95, -0.32, -0.32, -0.95, 0, 0);
  z-index: -100;
}

.shape-circle {
  position: absolute;
  width: 295px;
  height: 295px;
  left: 1566.85px;
  top: 149px;
  background: #ffe2e2;
  border-radius: 65%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -100;
}

.box-content-acc {
  position: absolute;
  width: 1043px;
  height: 509px;
  left: 446px;
  top: 436px;
}

.box-content-acc-text {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #000000;
}

.box-title-acc {
  font-family: IBM Plex Mono;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;

  color: #000000;
}

.green-box-1 {
  position: absolute;
  width: 1020px;
  height: 574px;
  left: 345px;
  top: 350px;
  background: rgba(167, 215, 136, 0.6);
  border-radius: 6px;
}

.green-box-2 {
  position: absolute;
  width: 1020px;
  height: 574px;
  left: 372px;
  top: 323px;
  background: #a7d788;
  border-radius: 6px;
}

.act-cont {
  position: absolute;
  width: 292px;
  height: 54px;
  left: 701px;
  top: 358px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.cal-act {
  position: absolute;
  width: 400px;
  height: 450px;
  left: 650px;
  top: 475px;
}

.color {
  color: #000000;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, gold, gold 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  vertical-align: middle;
}

.color:hover {
  background-position: 0 100%;
}

.cal-act-1 {
  color: black;
  --fc-border-color: black;
}
