@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #EEFFEE;
}

.exist-title{
    position: absolute;
    width: 813px;
    height: 75px;
    left: 461px;
    top: 162px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;

    color: #000000;

}

.exist-pattern
{
    position: absolute;
    width: 462.74px;
    height: 896.36px;
    left: 235.26px;
    top: 97.3px;

    background: #FAF7B7;
    transform: rotate(48.63deg);
}

.blue-box-1{
    position: absolute;
    width: 1022px;
    height: 134px;
    left: 363px;
    top: 156px;

    background: rgba(219, 218, 255, 0.6);
}

.blue-box-2{
    position: absolute;
    width: 1022px;
    height: 134px;
    left: 388px;
    top: 132px;

    background: #DBDAFF;

}

.exist-course{
    position: absolute;
    width: 1020px;
    height: 574px;
    left: 390px;
    top: 315px;   
}

.exist-menu{
    position: absolute;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;

}

.sub-menu-1{
    position: absolute;
    width: 266px;
    height: 69px;
    left: 31px;
    top: 222px;

    background: #FFE2E2;

}
.sub-menu-2{
    position: absolute;
    width: 266px;
    height: 69px;
    left: 31px;
    top: 332px;

    background: #FFE2E2;


}
.sub-menu-3{
    position: absolute;
    width: 266px;
    height: 69px;
    left: 31px;
    top: 442px;

    background: #FFE2E2;

}
.sub-menu-4{
    position: absolute;
    width: 266px;
    height: 69px;
    left: 31px;
    top: 552px;

    background: #FFE2E2;

}
.sub-menu-5{
    position: absolute;
    width: 266px;
    height: 69px;
    left: 31px;
    top: 662px;

    background: #FFE2E2;   

}

.content-box-1{
    position: absolute;
    width: 1020px;
    height: 574px;
    left: 363px;
    top: 343px;

    background: rgba(255, 216, 131, 0.4);
}

.content-box-2{
    position: absolute;
    width: 1020px;
    height: 574px;
    left: 390px;
    top: 315px;

    background: #FFD883;

}

.box-title{
    position: absolute;
    width: 447px;
    height: 74px;
    left: 428px;
    top: 346px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 78px;

    color: #222222;

}

.box-content{
    position: absolute;
    width: 933px;
    height: 323px;
    left: 428px;
    top: 460px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: left;

    color: #222222;
}

.mini-progress-1{
    width: 170px;
    height: 28px;
    left: 428px;
    top: 554px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
/* identical to box height */


    color: #222222;


}

.mini-progress-2{
    position: absolute;
    width: 170px;
    height: 28px;
    left: 428px;
    top: 745px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #222222;
}

.shape-tri{
    position: absolute;
    width: 611.99px;
    height: 275.3px;
    left: 1204.19px;
    top: 1064.36px;

    background: #C1BFEE;
    transform: matrix(0.95, -0.32, -0.32, -0.95, 0, 0);
}

.shape-circle{
    position: absolute;
    width: 295px;
    height: 295px;
    left: 1566.85px;
    top: 149px;

    background: #FFE2E2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.box-content-acc{
    position: absolute;
    width: 1043px;
    height: 509px;
    left: 446px;
    top: 436px;
}

.box-content-acc-text{
    position: absolute;
    width: 946px;
    height: 502px;
    left: 446px;
    top: 443px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    text-align: left;
    line-height: 43px;

    color: #000000;
}

.box-title-acc{
    position: absolute;
    width: 841px;
    height: 79px;
    left: 439px;
    top: 340px;

    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 78px;

    color: #000000;

}

.green-box-1{
    position: absolute;
    width: 1020px;
    height: 574px;
    left: 345px;
    top: 350px;

    background: rgba(167, 215, 136, 0.6);
    border-radius: 6px; 
}

.green-box-2{
    position: absolute;
    width: 1020px;
    height: 574px;
    left: 372px;
    top: 323px;

    background: #A7D788;
    border-radius: 6px;
}

.act-cont{
    position: absolute;
width: 292px;
height: 54px;
left: 701px;
top: 358px;

font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 54px;
text-align: center;

color: #FFFFFF;

}

.cal-act{
    position: absolute;
    width: 350px;
    height: 200px;
    left: 350px;
    top: 400px;
}

.color{
    color: #000000;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, gold, gold 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.color:hover{
    background-position: 0 100%;
}
