@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.container-fluid {
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 3px 3px #b6cdb8;
}

.personWithComputer {
  width: 100%;
}

.greetingPart {
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.getStartedButton {
  background-color: #62a337;
  color: #ffffff;
  border: none;
  box-shadow: -5px 5px #c5cfd6;
  margin-top: auto;
  width: 125px;
  height: 40px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.getStartedButton:hover {
  background-color: #84b960;
  box-shadow: none;
  margin: 5px -5px;
}

.scroll {
  position: absolute;
  margin-top: -50px;
  margin-left: 8px;
  background-color: #eeffee;
}

.mid {
  position: absolute;
  margin-top: 40px;
  background-size: 100%;
  align-self: center;
  background-repeat: no-repeat;
}

.homeQuestion {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 28px;
  height: 50px;
  background: #dcebd3;
  box-shadow: 25px -15px rgba(94, 146, 225, 0.35);
}

.homeAnswer {
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  color: #222222;
  text-align: right;
  background: #faf7b7;
  box-shadow: 40px -30px rgba(219, 218, 225, 0.6);
}

.end {
  align-items: flex-end;
}

.hook {
  font-size: 65px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  background: #dcf0d0;
}

.mt-5 {
  margin-top: 400px !important;
}

.registerNowButton {
  background-color: #99c87a;
  color: #ffffff;
  border: none;
  box-shadow: -55px 55px rgba(255, 176, 0, 0.28);
  width: 750px;
  height: 140px;
  font-size: 75px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 5px 3px #b6cdb8;
  margin-left: 500px;
  text-align: center;
}

.registerNowButton:hover {
  background-color: #84b960;
  box-shadow: none;
}
