@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 3px 3px #b6cdb8;
}

.personWithComputer {
  width: 100%;
}

.greetingPart {
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.getStartedButton {
  background-color: #62a337;
  color: #ffffff;
  border: none;
  box-shadow: -5px 5px #c5cfd6;
  margin-top: auto;
  width: 125px;
  height: 40px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.getStartedButton:hover {
  background-color: #84b960;
  box-shadow: none;
  margin: 5px -5px;
}

.scroll {
  position: absolute;
  margin-top: -50px;
  margin-left: 8px;
  background-color: #eeffee;
}

.mid {
  margin-top: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.homeQuestion {
  display: flex;
  align-items: center;
  font-weight: bold;
  min-width: 300px;
  min-height: 80px;
  font-family: 'IBM Plex Mono', monospace;
  vertical-align: middle;
  height: calc(400px - 17vw);
  background: #dcebd3;
  box-shadow: 25px -15px rgba(94, 146, 225, 0.35);
  width: 50%;
  text-align: center;
}

.hq-txt {
  margin: auto;
  font-size: 50px;
  padding: 0 5px;
}

.homeAnswer {
  margin-top: 100px !important;
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  color: #222222;
  text-align: right;
  background: #faf7b7;
  box-shadow: 40px -30px rgba(219, 218, 225, 0.6);
}

.end {
  margin-top: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hook {
  font-size: 65px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  background: #dcf0d0;
}

.registerNowButton {
  margin-left: 500px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #99c87a;
  color: #ffffff;
  border: none;
  box-shadow: -55px 55px rgba(255, 176, 0, 0.28);
  height: 140px;
  font-size: 75px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 5px 3px #b6cdb8;
  text-align: center;
  text-decoration: none;
}

.registerNowButton:hover {
  background-color: #84b960;
  box-shadow: none;
}

.regbtntxt {
  color: black;
}

.rg-b-txt {
  text-decoration: none;
}

p {
  font-size: 2vw;
  padding: 0 1vw;
}
