body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  margin: 15px;
  text-align: center;
}

.Home {
  padding-top: 10px;
}

.Navbar {
  margin-top: 15px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
