.center-search {
  margin: 0 auto;
  text-align: center;
  min-width: 600px;
  max-width: 1000px;
}

.search-input {
  width: 10vw;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid grey;
}

.search-input:focus {
  background-color: #f1f5f1;
  outline: none;

}

.search {
  margin-left: 5px;
  color: #62a337;
  cursor: pointer;
  width: 1000px;
}

.search:hover {
  color: #2a733e;
}

.navl-hover:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid black;
}
